*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/captures
.externalNativeBuild
.cxx
local.properties

# IntelliJ IDEA #
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

# MacOS #
.DS_Store
